* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 30px;
    font-size: 1.2rem;
    width: 100%;
}

.control-timer {
    display: flex;
    width: 100%;
}

.timer {
    font-size: 3em;
    width: 250px;
    text-align: center;
}